
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLogin</title>
</head>
<body>
    <div> 
        <form method="post" action="AdminLogin">

            Admin User: <input type="text" name="a"> <br/>
            Password : <input type="password" name="b"><br/>
            <input type="submit">

        </form>
    </div>
</body>
</html>
